footer {
    margin-top: 20rem; /* mt-20 */
    padding-top: 1rem; /* py-1 */
    padding-bottom: 1rem; /* py-1 */
    padding-left: 1rem; /* px-4 */
    padding-right: 1rem; /* px-4 */
    background-color:  bg-primary-dark ;
    color: rgb(0, 0, 0); /* text-white */
    font-size: 0.875rem; /* text-xs */
    border-bottom: 1px solid /* border-gray-600 */;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  @media (min-width: 640px) {
    footer {
      padding-left: 7rem; /* px-12 */
      padding-right: 3rem; /* px-12 */
      flex-direction: row;
      justify-content: space-between;;
      margin-right: 50px;
      margin-left: 50px;
    }
  }
  